@import "../../assets//styles/variables";

@mixin cellphone {
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}

.product-detail {
    text-align: left;

    &__item {
        @include cellphone {
            flex-direction: column;
        }

        &__image {

            img {
                height: 100%;
                width: 100%;
            }
        }

        &__price-detail {
            @include cellphone {
                margin: 10% 0%;
            }

            button {
                width: 100%;
            }
        }

    }

    &__description {
        @include cellphone {
            font-size: 1.3rem;
        }
    }
}